<!-- #redirect to user page - /users/:user_id -->
  <form action="/users" method = "post">
      Username:<input type="text" name="username">
      Password:<input type="password" name="password">
      <input type="submit" class="cool_button" value="Create Account">
  </form>
