<div id="create_user">
  <form action="/users" method = "post">
    <h3>Username:</h3><input type="text" name="username"><br>
    <h3>Password:</h3><input type="password" name="password"><br><br>
    <input type="submit" class="cool_button" value="Create Account">
  </form>
</div>
