<!-- #redirect to user page - /users/:user_id -->
<div class="container">
  <form action="/users" method = "post">
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit" value="Create Account">
  </form>
</div>