<h1>Welcome to Dophin Flashcards!</h1>

  <form action="/login" method = "post">
    <input type="text" placeholder = "User Name" name="username">
    <input type="password" placeholder = "Password" name="password"><br>
    <input type="submit" class="cool_button" name="submit" value="Login">
  </form>

