  <h1>Welcome to Flashcards!</h1>

  <form action="/login" method = "post">
    <input type="text" placeholder = "User Name" name="username">
    <input type="password" placeholder = "Password" name="password"><br>
     <input type="submit" class="cool_button" name="submit" value="Login">

  </form>

<form action="/users/new" method="get">
  <input type="submit" class="cool_button" name="submit" value="Create Account">
</form>

