<div class="container">
  <h1>Welcome to Flashcards!</h1>

  <p>Login</p>

  <form action="/login" method = "post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" name="submit">
  </form>

  <

  <form action="/login" method="post">
    <input type=

</div>
