<h1 id="welcome">Welcome to Dophin Flashcards!</h1>

<form id="login_form" action="/login" method = "post">
  <input type="text" placeholder = "User Name" name="username"><br>
  <input type="password" placeholder = "Password" name="password"><br>
  <input type="submit" class="cool_button" name="submit" value="Login">
</form>



