<div class="container">
  <h1>Welcome to Flashcards!</h1>

  <p>Login</p>
  <!-- #redirects to user page -->
  <form action="/login" method = "post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" name="submit" value="Login">
  </form>

<!-- #gets new_user page and create_user erb -->
  <form action="/users/new" method="get">
    <input type="submit" name="submit" value="Create Account">
  </form>

</div>
