<div  id="welcome"><h1>Welcome to Dophin Flashcards!</h1></div>

<form id="login_form" action="/login" method = "post">
   <h3>Username:</h3><input type="text" placeholder = "User Name" name="username"><br>
  <h3>Password:</h3><input type="password" placeholder = "Password" name="password"><br>
  <input type="submit" class="cool_button" name="submit" value="Login">
</form>

