#MVP: list of decks with links. When you click, you start playing a round by showing a card.

#Stretch: maybe stats about previous rounds

<div class="container">

  <% @decks.each do |deck| %>
  <a href="/users/<%= @user.id %>/decks/<%= deck.id %>"><%= deck.name %></a>
  <% end %>

</div>