<p>Number Correct: <%= Round.last.number_correct %></p>
<p>Number Wrong: <%= Round.last.number_wrong %></p>
<form action="/decks" method="get" class="choose_deck">
  <input type="submit" class="cool_button" name="home" value="New Deck">
</form>

<form action="/decks/<%= @deck.id %>" method="get" class="choose_deck">
  <input type="submit" class="cool_button" name="repeat" value="Repeat Deck">
</form>