<!-- #display form with card question and text area to type answer
#button to submit
#this is post form, where it is checked against the answer in the database

#Redirect to same show_card page with "correct" or "incorrect"
# There will be some sort of variable (@answer) that is in the post logic of this form. If that variable exists, this show_card page will include
# the _answer_eval partial displaying either "Correct" or "Incorrect"

#another form with submit button to click to next card, which redirects to new show_card page OR redirects to stats page when round is finished
 -->
<div class="container">

  <%# <% if @answer_eval %>
    <%# erb :answer_eval %>
  <%# end %>

  <form action="/decks/<%= @card.deck_id %>/cards/<%= @card.id %>" method="post">
    question: <%= @card.question %><br>
    <input type="text" name="answer"> <!-- #need value variable  -->
    <input type="submit" name="submit" value="Submit Answer">
  </form>


  <form action="#" method="get"> <!-- needs looking into -->
    <input type="submit" name="submit" value="Next Card">
  </form>

</div>

