<% unless @answer_eval.nil? %>
  <%= erb :_answer_eval %>
<% end %>

<form action="/decks/<%= @card.deck_id %>/cards/<%= @card.id %>" method="post">
  Question: <%= @card.question %><br>
  <input type="text" name="answer">
  <input type="submit" class="cool_button" value="Submit Answer">
</form>

<form action="#" method="get"> <!-- needs looking into -->
  <input type="submit" class="cool_button" value="Next Card">
</form>


