<div  id="welcome"><h1>Welcome to Dophin Flashcards!</h1></div>

<form id="login_form" action="/login" method = "post">
   <p class="error-msg"><%= "Invalid Username or password" if @failed_loggin %></p>
  <h3>Username:</h3><input type="text" placeholder = "User Name" name="username" value="<%= params[:username] %>"><br>
  <h3>Password:</h3><input type="password" placeholder = "Password" name="password"><br>
  <input type="submit" class="cool_button" name="submit" value="Login">
</form>

